
.menu-list a{
    color: whitesmoke;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 900;
    padding: 15px;
    border-radius: 10px; 
}
.menu-list a:hover{
    background-color: lightblue;
    color: blue;
}
.navbar{
    /* display: flex; */
    /* justify-content: space-between; */
    background-color:rgb(236, 110, 110);
    /* text-align: center; */
    /* align-items: center; */
}