.title{
    margin-top: 30px;
}
.course-name{
    display: grid;
    grid-template-columns: repeat(2 , 2fr);
    margin: 50px;
}
.course-name img{
    height: 500px;
    width: 500px;
    border-radius: 20px;
}
.course-details{
    border: 2px solid rgb(222, 231, 235);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(247, 250, 250);
}